body {
    margin: 0;
}

.container {
    display: grid;

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows:
        auto    /* Cabeçalho */
        auto    /* Banner */
        1fr     /* Conteúdo Principal + Laterais */
        auto    /* Conteúdo Inferior */
        auto;   /* Rodapé */

    height: 100vh;
}

.cabecalho { background: yellow; }
.banner    { background: red; }
.lado-esq  { background: green; }
.principal { background: blue; }
.lado-dir  { background: orange; }
.abaixo    { background: lime; }
.rodape    { background: navy; }

.cabecalho { grid-column: 1 / 4; }
.banner    { grid-column: 1 / 4; }

.lado-esq {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.principal {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.lado-dir {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.abaixo {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.rodape {
    grid-column: 1 / 4;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media screen and (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows:
            auto auto auto auto auto auto auto;
        height: auto;
    }

    .cabecalho,
    .banner,
    .lado-esq,
    .principal,
    .lado-dir,
    .abaixo,
    .rodape {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    .principal {
        height: 500px;
    }
}