body { 
    font-family: Arial; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    margin: 0;
}

.calc {
    width: 275px;
    box-sizing: border-box;
}

#tela {
    width: 100%;
    height: 45px;
    text-align: right;
    font-size: 22px;
    margin-bottom: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    background: white;
    box-sizing: border-box;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 60px; 
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    font-size: 18px;
    cursor: pointer;
    border: 1px solid gray;
    background: gainsboro;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

button:hover {
    background: silver;
}

.equal {
    background: blue;
    color: white;
    font-weight: bold;

    grid-column: 5;       /*coluna 5 (ultima)*/
    grid-row: 1 / span 4; /*ocupa 4 linhas*/

    align-self: stretch;
    justify-self: stretch;
}

.equal:hover {
    background: royalblue;
}
