* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 20vh; /* divide a tela em 5 faixas iguais */
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.roxo {
    background-color: purple;
}

.verde {
    background-color: green;
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
    color: black;
}

.preto {
    background-color: black;
}
