* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
}

.barra-lateral {
    width: 25%;
    background-color: grey;
    color: white;
    padding: 20px;
}

.perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px auto;
}

.perfil h2 {
    text-align: center;
    margin-bottom: 20px;
}

.perfil ul {
    list-style: none;
}

.perfil ul li {
    margin-bottom: 10px;
}

.conteudo-principal {
    width: 75%;
    padding: 30px;
    overflow-y: auto;
    color: black;
}

.conteudo-principal h1 {
    margin-bottom: 20px;
}

.conteudo-principal p {
    margin-bottom: 20px;
}

.conteudo-principal h2 {
    margin: 20px 0;
}

.experiencia,
.formacao {
    margin-bottom: 25px;
}

.experiencia h3,
.formacao h3 {
    margin-bottom: 10px;
}

.experiencia ul,
.formacao ul {
    margin-left: 20px;
}
