body {
    background: #6a6a6a;
    color: #e8e8e8;
    font-family: sans-serif;

    /* Centraliza tudo na tela */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#painel-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#visor {
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

button {
    background: #d0cec8;
    color: #444;
    padding: 12px 25px;
    margin-top: 10px;
    border: 1px solid #aaa;
    font-size: 18px;
    cursor: pointer;
}

#titulo-paradas {
    font-size: 24px;
    margin-bottom: 10px;
}

ol {
    line-height: 1.6;
    font-size: 18px;
    padding-left: 20px;
}
